<div class="actions">Actions: 
	<%= submit_tag "save", :name => "save" %>
	<%= submit_tag "save and continue", :name => "save_and_continue" %>
	<span class="action"><%= link_to("cancel", {:action => "show", :id => edit_actions}) %></span>
<div>
